.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show_storage {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 95vw;
}

.filter {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 95vw;
    border: 2px solid red;
}

.buy {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

.buy:active {
    background-color: bisque;
}

.adding {
    margin-top: 60px;
    width: 95vw;
}

#confirm {
    position: absolute;
    display: none;
    height: 45vh;
    width: 40vw;
    background-color: #fff;
    border: 10px solid red;
    margin-left: 30vw;
    margin-right: 30vw;
    font-size: 1em;
}

.smaller_column {
    width: 10vw;
}

.active_filter {
    position: absolute;
    right: 2vw;
    border: 2px solid red;
    width: auto;
}

.active_filter tr:nth-child(even) {
    background-color: #dddddd;
}