.show_storage {

  width: 99vw;

}

.filter {

  width: 99vw;
  border: 2px solid red;

}

#buy {

  background-color: aquamarine;
  height: 100%;
  width: 100%;

}

#buy:active {

  background-color: bisque;

}
