.show_storage {

  margin-top: 60px;
  margin-bottom: 60px;
  width: 99vw;

}

.filter {

  display: flex;
  padding: 20px;
  justify-content: space-around;
  width: 99vw;
  border: 2px solid red;

}

.buy {

  background-color: aquamarine;
  height: 100%;
  width: 100%;

}

.buy:active {

  background-color: bisque;

}

.adding {
  margin-top: 60px;
  width: 99vw;

}
