.flex {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.show {

  position: relative;
  top: 50px;
  display: flex;
  width: 100vw;
}

table { width: 48vw; }
